/* - page logo styling - */


.logo-image {
   margin: auto;
   width: 500px;
   height: 400px;
}

#logo-image-id {
max-width: 500px;
max-height: 400px;
}

.page-logo-text-box-outer {
   width: 100% ; 
   margin: auto;
   font-family: 'Courier New', Courier;
   text-align: center;
}

.page-logo-text-inner {
    font-size: 36px;
    font-weight:bold;
    
}

.logo-undertext {
    font-size: 16px;
    font-weight: lighter;
}



/* - Stories- */

/*story Title / Author styling */

.story-title-box {
    margin: auto;
    width: 500px;
    border: solid 2px;
    text-align: center;
    line-spacing: 20px;
}

.story-name {
   font-size: 18px;
   font-weight: bold;
   letter spacing: 5px;
}

.author-name {
   font-size: 14px;
}

/*story box styling */

.full-story-content-box {
    font-family: 'Courier New', Courier;
    padding: 50px;
}

.story-text-box-outer {
    margin: auto;
    width: 700px;
    border: solid 2px;
    background-color: #FFFEF8;
    padding: 20px;
}

.story-text-box-inner {
    margin: auto;
    width: 500px;
    padding:20px 20px;
}



/* Misc */

.Vertical-Space-Div {

   height: 30px;
   width: 1px;
   margin: auto;
   
}

/* Global Page Settings */

body {
   background-color: #FFFEFB;
}
