/* - page logo styling - */


.logo-image-case {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 3em auto 1em auto;
}

#logo-image-id {
            display: block;
            margin: auto;
            max-width: 45%;
            max-height: auto;
}

/* - Text directly under the logo - */

.page-logo-text-box-outer {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 2em auto 0 auto;

            
   max-width: 100% ; 
   margin: 0;
   font-family: 'Courier New', Courier;
   text-align: center;
}

.page-logo-text-inner {
    font-size: 0.8em;
    line-height: 0.3em;
    
}

.logo-undertext {
    font-size: 1.1em;
    font-weight: lighter;
    line-height: 0.3em;
}



/* - Stories- */

/*story Title / Author styling */

.story-title-box {
    margin: 2em auto 2em auto;
    max-width: 40%;
    max-height: auto;
    border: solid 2px;
    border-radius: 10px;
    text-align: center;
    text-spacing: 0.2em;
    line-height: 1em;
    font-family: 'Courier New', Courier;
}

.story-name {
   font-size: 1.2em;
   font-weight: bold;
}

.author-name {
   font-size: 1em;
}

/*Story box styling */

.full-only-story-content-box {
    font-family: Cambria;
    padding: 1em;
    line-height: 2em;
    font-size: 1.1em;
}

.story-text-box-outer {
    margin: auto;
    max-width: 55%;
    max-height: auto;
    border: solid 2px;
    border-radius: 5px;
    background-color: #FFFEF8;
    padding: 2em;
}

.story-text-box-inner {
    margin: auto;
    max-width: 90%;
    max-height: 90%;
}



/* Misc */

.Vertical-Space-Div {

   max-height: 30px;
   max-width: 1px;
   margin: auto;
   
}

.Vertical-Space-Div-2 {

   max-height: 10px;
   max-width: 1px;
   margin: auto;
   
}

/* Global Page Settings */

body {
   background-color: #FFFEFB;
   overflow-x: hidden;
}




/* For testing */


.test-element {

    font-family: Cambria;
    padding: 1em;
    line-height: 2em;
    font-size: 1.1em;
    border: solid 2px;
            
            width: 50%; /* Takes up half the screen on desktop */
            margin: 0 auto; /* Center the element on desktop */
            
}

  @media only screen and (max-width: 767px) {
            .test-element {
                                  font-family: Cambria;
    padding: 1em;
    line-height: 2em;
    font-size: 1.1em;
    border: solid 2px;
                        
                width: 100%; /* Takes up the entire screen on mobile */
            
                          }
                                            }            

