h1 {
    font-size: 36px;
    font-weight: 2000;
    text-align: center;
    font-family: courier;
}

.page-logo-text-box {
    margin: auto;
    padding 20px;
}

.undertext {
    font-size: 18px;
    font-weight: 350;
    text-align: center;
    font-family: courier;
}

.story-box {
    border: solid 5px;
    font-size: 18px;
    line-height: 28px;
    margin: auto;
    width: 600px;
    background-color: #F5F5DC;
    font-family: courier, arial;
}

.story-title-box {
    border: solid 2px;
    margin: auto;
    width: 500px;
    background-color: #F5F5DC;
    font-family: courier;
}

.story-title-text {
    font-weight: 350px;
    display: block;
    width: 600px;
    text-align: center;
}

.story-text {
font-family: courier, arial;
}

